@baseFontFamily:           "Helvetica Neue", Helvetica, Arial, sans-serif;
@titleFontFamily:          "Helvetica Neue", Helvetica, Arial, sans-serif;
@contentFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;

@blueLighter:                  #3f8dcd;
@blueLight:                    #3487cb;
@blueModerate:                 #2f7ab6;
@blue:                         #2a6ca2;
@blueDark:                     #255f8e;
@blueDarker:                   #1f517a;

@hoverBorderColor:             #3f8dcd;
@hoverBackground:              #3f8dcd;